@media (min-width: 768px) {
  .contactInfo {
    text-align: left;
    padding: 30px;
    margin-left: 15px;
    li {
      display: flex;
      margin-top: 15px;
      i {
        font-size: 1.7em;
      }
      p {
        margin-left: 10px;
      }
    }
   
  }
}
