.regFormRow {
  .formPic {
    max-width: 100%;
  }
  .feedback {
    display: none;
  }
  .md-form {
    margin-top: 20px;
    height: 60px;
  }
}

@media (min-width: 768px) {
  .regFormRow {
    width: 100%;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #eee;
    margin-bottom: 2em;
    .formPic {
      max-width: 100%;
    }
    .regButton {
      margin-top: 10px;
    }

    .md-form {
      margin-top: 20px;
      height: 80px;
    }
    .buttonArea {
      margin-left: 15px;
      display: inline-block;
      margin-top: 15px;
    }
  }
}
