@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
.navbar .navbar-toggle {
  background-color: blue; }

.container-fluid {
  background-color: white; }
  .container-fluid .logo {
    width: 120px;
    height: 120px; }
  .container-fluid .welcomeMsg {
    display: none; }

@media (min-width: 768px) {
  #navbarMainMenu {
    display: flex !important;
    height: 120px !important;
    align-items: center; }
  .container-fluid {
    display: flex; }
    .container-fluid .navbar-header {
      display: flex;
      align-items: center; }
    .container-fluid .welcomeMsg {
      display: block;
      padding: 15px;
      line-height: 1.5;
      margin-left: 20px;
      margin-right: 20px;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee; }
    .container-fluid ul li a {
      color: #333;
      font-size: 15px; }
  .galleryImg .imgSlide {
    height: 650px; }
    .galleryImg .imgSlide .carousel-caption {
      top: 15em; }
      .galleryImg .imgSlide .carousel-caption h1 {
        font-size: 150px;
        font-family: "Dancing Script", cursive; }
  .page-footer {
    background-color: #212529; }
    .page-footer .footer-copyright {
      color: white; }
  .localPicGallery {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    .localPicGallery .galleryRow {
      width: 100%;
      margin: 15px 0;
      text-align: center; }
      .localPicGallery .galleryRow .localImg {
        max-width: 100%;
        max-height: 350px; }
      .localPicGallery .galleryRow .desLists {
        text-align: left; } }

@media (min-width: 768px) {
  .contactInfo {
    text-align: left;
    padding: 30px;
    margin-left: 15px; }
    .contactInfo li {
      display: flex;
      margin-top: 15px; }
      .contactInfo li i {
        font-size: 1.7em; }
      .contactInfo li p {
        margin-left: 10px; } }

.regFormRow .formPic {
  max-width: 100%; }

.regFormRow .feedback {
  display: none; }

.regFormRow .md-form {
  margin-top: 20px;
  height: 60px; }

@media (min-width: 768px) {
  .regFormRow {
    width: 100%;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #eee;
    margin-bottom: 2em; }
    .regFormRow .formPic {
      max-width: 100%; }
    .regFormRow .regButton {
      margin-top: 10px; }
    .regFormRow .md-form {
      margin-top: 20px;
      height: 80px; }
    .regFormRow .buttonArea {
      margin-left: 15px;
      display: inline-block;
      margin-top: 15px; } }
